* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

#container {
	margin: 0 auto;
	width: 100%;
	font-weight: bolder
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* HEADER  */
nav {
	background-color: white;
	border-bottom: 1px lightgray solid;
}

#loginBtn {
	background-color: darkgray;
}

/* content */
#background {
	background-color: #F8F9FA;
}

#background .container {
	position: relative;
}

#background h1 {
	font-weight: bolder;
}

#map {
	overflow: hidden;
	width: 700px;
	height: 900px;
}

#mapLocalInfo {
	padding: 5px 0;
	text-align: center;
}

.subtitle {
	width: 150px;
	height: 30px;
	border: none;
	border-radius: 15px;
	background-color: #A9A9A9;
	color: white;
}

#maplocalInfoAll {
	width: 150px;
	height: 30px;
	border: none;
	border-radius: 15px;
	background-color: #A9A9A9;
	color: white;
}

#mapLocalInfo li:first-child:hover {
	text-decoration: underline;
}

#mapBtn div {
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}

#mapBtn ul li {
	width: 100%;
	text-align: center;
}

#mapBtn ul {
	width: 100%;
	border: #A9A9A9 solid 1px;
}

#forecastTable td:first-child {
	width: 110px;
	text-align: center;
}

#areaTable td:first-child {
	width: 110px;
	text-align: center;
}

#forecastTable td {
	text-align: center;
}

#areaTable td {
	text-align: center;
}

.boxShadow {
	background-color: white;
	border-radius: 50px;
	box-shadow: 5px 5px 5px 5px lightgray;
}

.vertical1 {
	height: 250px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.vertical2 {
	height: 600px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section {
	text-align: center;
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input[type="submit"] {
	width: 200px;
	background-color: #4CAF50;
	/* 배경색 */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #4CAF50;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

#first:hover {
	font-weight: bolder;
	cursor: pointer;
}

#second:hover {
	font-weight: bolder;
	cursor: pointer;
}

#third:hover {
	font-weight: bolder;
	cursor: pointer;
}
#explain p {
	padding-top:30px;
	margin-left:10px;
}
/******************************/
/* FOOTER                     */
/******************************/
footer {
	background-color: white;
	border-top: 1px lightgray solid;
}